.item{
  min-height: 11rem;
  min-width: 40rem;
  padding: 0;
}
.item img{
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}
.inner-carousel{
  position: relative;
  display: flex;
}
.carousel{
  cursor: grab;
  overflow: hidden;
  width: 100%;
}
.title{
  color: white;
  background-color: rgba(0,0,0,0.2);
  height: 13%;
  width: 100%;
  position: absolute;
  z-index: 70;
}
.title-text{
  margin-top: 0.25%;
  margin-left: 1%;
  font-size: 3vh;
}
.title-text > h4{
  font-weight: 500;
}
